data/SETIMES2.en-ro.en
data/SETIMES2.en-ro.ids
data/SETIMES2.en-ro.ro
data/SETIMES2.ro-en.txt.zip
data/corpus.bpe.en
data/corpus.bpe.en.shuf
data/corpus.bpe.ro
data/corpus.bpe.ro.shuf
data/corpus.en
data/corpus.ro
data/corpus.tc.en
data/corpus.tc.ro
data/corpus.tok.clean.en
data/corpus.tok.clean.ro
data/corpus.tok.en
data/corpus.tok.ro
data/europarl-v7.ro-en.en
data/europarl-v7.ro-en.ro
data/newsdev2016.bpe.en
data/newsdev2016.bpe.ro
data/newsdev2016.tc.en
data/newsdev2016.tc.ro
data/newsdev2016.tok.en
data/newsdev2016.tok.ro
data/newstest2016.bpe.en
data/newstest2016.bpe.ro
data/newstest2016.tc.en
data/newstest2016.tc.ro
data/newstest2016.tok.en
data/newstest2016.tok.ro
model/
mosesdecoder/
subword-nmt/
