[submodule "examples"]
	path = examples
	url = https://github.com/marian-nmt/marian-examples
[submodule "regression-tests"]
	path = regression-tests
	url = https://github.com/marian-nmt/marian-regression-tests
[submodule "src/3rd_party/sentencepiece"]
	path = src/3rd_party/sentencepiece
	url = https://github.com/marian-nmt/sentencepiece
[submodule "src/3rd_party/nccl"]
	path = src/3rd_party/nccl
	url = https://github.com/marian-nmt/nccl
[submodule "src/3rd_party/fbgemm"]
	path = src/3rd_party/fbgemm
	url = https://github.com/marian-nmt/FBGEMM
	branch = master
[submodule "src/3rd_party/intgemm"]
	path = src/3rd_party/intgemm
	url = https://github.com/marian-nmt/intgemm/
[submodule "src/3rd_party/simple-websocket-server"]
	path = src/3rd_party/simple-websocket-server
	url = https://github.com/marian-nmt/Simple-WebSocket-Server
